.title-font {
    color:white; 
    font-family: "redaction-20", sans-serif;
    font-weight: 400;
    font-style: italic;
    }

.text-type {
    color: white;
    font-family: "forma-djr-mono", sans-serif;
}

.btn-text {
    color: white;
    font-family: "redaction-35", sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(15, 15, 15);
    }


hr.solid {
    border-top: 2px solid white;
}

.home-btn {
  border: none;
  background-color:rgb(15, 15, 15);
  text-align: center;
  text-decoration: none;
  font-size: 25px;}

.nav-btn {
  border: solid;
  border-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(11, 11, 11, 0.75);
  text-align: center;
  text-decoration: none;
  font-size: 25px;}

.nav-dis {
  border: solid;
  border-color: white;
  background-color: rgba(99, 99, 99, 0.75);
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.home-big {
    margin-top: 1%;
    align-items: center;
    height: 95%;
    aspect-ratio: 16/9;
}

.home-small {
    margin-top: 1%;
    align-items: center;
    height: 80%;
    aspect-ratio: 2/3;
}

.large-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16/8.85;
}

.small-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 2/3.053;
}

.cont-bord {
    border: solid;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
}

.content {
    border: solid;
    border-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.film-content {
    border: solid;
    border-color: white;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

div.about-grid-large {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

div.about-grid-small {
    display: grid;
    grid-template-columns: 40% 60%;
}

div.gallery-grid-large {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    row-gap: 1%;
    padding-bottom: 16.5%;
}

div.gallery-grid-small {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5%;
    padding-bottom: 60%;
}

div.events-grid-large {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    padding-bottom: 5%;
}

div.events-grid-small {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5%;
    padding-bottom: 43%;
}

div.figure-grid-large {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1%;
    row-gap: 1%;
    padding-bottom: 8%;
}

div.figure-grid-small {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5%;
    padding-bottom: 25%;
}

div.film-stills-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2.5%;
    column-gap: 1.5%;
    padding-bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.single-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5%;
}

.footer {
    display: grid;
    grid-template-columns: auto 20%;
    column-gap: 10%;
}

.foot-links {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15%;
}
